form {
  padding: 10px;
}

label {
  font-weight: 700;
} 

div {
  display: flex;
  flex-direction: column;
}

input {
  padding: 5px;
  border: thin solid rgba(0, 0, 0, 0.3);
  border-radius: 0px;
  margin: 10px 0px;
} 